@font-face {
    font-family: 'MyriadPro-Regular';
        
        src:    url('https://nomail.com.ua/files/eot/4dc5956a31b5832b356867433bb4e516.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/4dc5956a31b5832b356867433bb4e516.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/4dc5956a31b5832b356867433bb4e516.woff2') format('woff2');
}
    
@font-face {
    font-family: 'MyriadPro-Semibold';
        src:    url('https://nomail.com.ua/files/eot/368d8d0ec421694172277d72614086ba.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/368d8d0ec421694172277d72614086ba.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/368d8d0ec421694172277d72614086ba.woff2') format('woff2');
}

@font-face {                          
    font-family: 'MyriadPro-Bold';
        src:    url('https://nomail.com.ua/files/eot/a4a83b50ac24f2af4df10725e63542be.eot?#iefix') format('embedded-opentype'),
                url('https://nomail.com.ua/files/woff/a4a83b50ac24f2af4df10725e63542be.woff') format('woff'),
                url('https://nomail.com.ua/files/woff2/a4a83b50ac24f2af4df10725e63542be.woff2') format('woff2');
}

    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.header {
    max-height: 230px;
    background: #dcdcdc;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 65px 0;
}

.phone {
    font-family: 'MyriadPro-Regular', sans-serif;
    text-decoration: none;
    color: #767676;
    font-size: 40px;
    line-height: 1.15;
    text-align: right;
    display: flex;
    white-space: nowrap;
} 

.f2 {
    background-image: url(image/f2.png);
    background-size: cover;
    background-position: bottom center;
    height: 490px;
}

.f2-title {
    font-family: 'MyriadPro-Semibold', sans-serif;
    color: #9da3d7;
    font-size: 24px;
    padding-top: 75px;
    padding-bottom: 20px;
    margin-left: 180px;
    text-transform: uppercase;
    font-weight: 300;
}

.f2-form {
    background-color: #9da3d7;
    height: 275px;
    max-width: 358px;
    margin-left: 100px;
    margin-bottom: -20px;
}

.f2-form-title {
    font-family: 'MyriadPro-Regular', sans-serif;
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    padding: 30px 23px;
    text-align: center;
    font-weight: 300;
}

.f2-form-phone,
.f2-form-btn {
    display: block;
    border: none;
    margin-bottom: 23px;
    height: 50px;
    width: 290px;
    padding: 0 18px;
    font-size: 24px;
    font-family: 'MyriadPro-Regular', sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.f2-form-phone::placeholder {
    color: #767676;
}

.f2-form-btn {
    background-color: #ffc087;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
}

.f3 {
    height: 397px;
}

.slider-title {
    font-family: 'MyriadPro-Semibold', sans-serif;
    color: #9da3d7;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 37px;
    line-height: 1.2;
    font-weight: 300;
}

#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 27px;
    margin: 0 auto;
}

#slides .image { /* общий размер блока с изображениями*/
    width: 500%;
    line-height: 0;
    text-align: center;
}

#overflow {
    width: 692px;
    height: 287px;
	overflow: hidden;
	border: 4px solid #fff;
    box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.17);  
}

.image {
    display: flex;
    margin-top: -155px;
}

#desktop:checked ~ #slider { /*размер всего слайдера*/
    width: 691px;
    height: 286px;
}

label, a {
	cursor: pointer;
}

.all input {
    display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image {
	margin-left: -92%;
}

#switch2:checked ~ #slides .image {
	margin-left: -370%;
}

#switch3:checked ~ #slides .image {
	margin-left: -652%;
}

#active label { /*стиль переключателя*/
    border-width: 3px;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
	display: inline-block;
	width: 29px;
	height: 29px;
    box-shadow: inset 0px 0px 1px 0px rgba(0, 0, 0, 0.22);
    margin-right: 20px;
}
      
#active { /*расположение блока с переключателями*/
    margin: 22px 0 0;
    text-align: center;
}

#active label:nth-child(1):after,
#active label:nth-child(2):after,
#active label:nth-child(3):after {
	content: "";
	position: absolute;
	display: none;
}

#switch1:checked ~ #active label:nth-child(1):after,
#switch2:checked ~ #active label:nth-child(2):after,
#switch3:checked ~ #active label:nth-child(3):after {
	display: block;
}

#active label:after {
	margin-left: 2px;
	margin-top: 2px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
    background: #9da3d7;   
}

#slides .image { /*анимация*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

.f4 {
    padding-top: 71px;
}

.f4-title {
    font-family: 'MyriadPro-Semibold', sans-serif;
    color: #000;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
    font-weight: 300;
}

.f4-text {
    font-family: 'MyriadPro-Regular', sans-serif;
    color: #000;
    font-size: 14px;
    text-align: justify;
}

.f5 {
    padding-top: 76px;
}

.f5-title {
    font-family: 'MyriadPro-Semibold', sans-serif;
    color: #9da3d7;
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 300;
}

.f5-windows {
	display: flex;
	flex-wrap: nowrap;
	margin: 30px auto 0px;
	text-align: center;
    justify-content: space-around;
}

.f5-element-img:first-child {
	margin-left: 10px;
}

.f5-windows-s {
    display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    max-width: 930px;
    margin-left: 20px;
}

.f5-element-title:nth-child(2) {
    margin-left: -64px;
}

.f5-element-title:nth-child(3) {
    margin-left: -6px;
}

.f5-element-title:nth-child(4) {
    margin-left: 37px;
}

.f5-element-title {
    font-family: 'MyriadPro-Bold', sans-serif;
    color: #000;
    font-size: 14px;
    text-decoration: none;
    padding-top: 24px;
    display: flex;
    justify-content: center;
}

.f5-element-title.active {
    color: #0099de;
    text-decoration-color:#0099de;
    border-bottom: 1.5px solid currentColor;
}

.f5-calculator {
    height: 513px;
    max-width: 965px;
    border-radius: 8px;
    background-color: rgba(232, 232, 232, 0);
    box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.23),inset 1px 1.732px 6px 0px rgba(0, 0, 0, 0.35);
    margin: 36px 17.5px 0; 
}

.calculator-criterion {
    margin-left: 408px;
}

.calculator-title {
    font-family: 'MyriadPro-Bold', sans-serif;
    color: #0099de;
    font-size: 30px;
    margin-left: -3px;
    padding-bottom: 55px;
    line-height: 1.2;   
    padding-top: 64px;
    font-weight: 300;
}

.calculator-title2 {
    margin-top: 60px;
    margin-bottom: 31px;
}

.criterion-title {
    font-family: 'MyriadPro-Semibold', sans-serif;
    color: #000;
    font-size: 24px;
    margin-bottom: 22px;
}

.criterion {
    font-family: 'MyriadPro-Regular', sans-serif;
    color: #000;
    font-size: 18px;
    padding-left: 9px;
    margin-right: 20px;
}  
    
.custom-dropdown select {
    border-radius: 10px;
    background: transparent;
    height: 45px;
    border: 0;
    width: 372px;
    color: #000;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 18px;
    line-height: 40px;
    padding-left: 13px;
    cursor: pointer;
} 

.custom-dropdown {
	border: 2px solid #aeaeae;
	overflow: hidden;
	height: 45px;
	background: url(image/drop.png) 96% / 28px no-repeat;
	width: 358px;
	border-radius: 10px;
	margin-top: -10px;
	overflow-x: hidden;
}

.window-option {
    font-size: 22px;
    color: #636363;
    font-family: 'MyriadPro-Semibold', sans-serif;
    line-height: 40px;
    font-style: italic;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

aside {
	transform: rotate(-90deg);
	width: 74px;
	height: 89px;
    margin-left: 25px;
    margin-top: 60px;
}

.window-view { 
    display: flex;
    margin-top: 30px;
}

.window-width {
	margin-left: 128px;
	margin-top: -390px;
	font-style: italic;
}

.window-argument {
    margin-left: 40px;
    margin-bottom: -362px;
}
 
.window-math-param {
    display: flex;
    margin-top: -45px;
    margin-left: -372px;
}

.window-math-parametr {
    display: flex;
    margin-top: -38px;
    margin-left: -372px;
}

.result {
    margin-top: 50px;
    font-family: 'MyriadPro-Bold', sans-serif;
    line-height: 37px;
    font-size: 20px;
    color: #000;
}
.window-math {
    display: flex;
    font-size: 20.41px;
    color: #000;
    font-family: 'MyriadPro-Regular', sans-serif;
    line-height: 37.1px;
    margin-top: -46px;
    padding-right: 67px;
}

.window-math-width {
    margin-left: 36px;
}

.math-multiply {
    font-size: 44.52px;
    color: #0099de;
    font-family: 'MyriadPro-Bold', sans-serif;
    line-height: 37.1px;
    padding: 0 27px;
}

.math-input {
    border-radius: 10px;
    border: 2px solid #aeaeae;
    width: 90px;
    height: 45px;
    color: #5d5d5d;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 35.62px;
    line-height: 29.68px;
    text-align: center;
    padding-top: 5px;
}

.math-input:first-child {
    margin-left: 36px;
}

.window-btn-phone {
    border-radius: 10px;
    border: none;
    width: 280px;
    height: 46px;
    color: #424242;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 18px;
    text-align: center;
    padding-top: 5px;
    margin-right: 14px;
    background: #c6c6c6 url(image/user.png) no-repeat;
    background-position: 1px 50%; 
}

.footer {
    background-color: #767676;
    margin-top: 99px;
    height: 148px;
    color: #fffefe;
    font-family: 'MyriadPro-Regular', sans-serif;
    font-size: 24px;
    position: relative;
}

.footer p {
    position: absolute;
    top: 50%;
    margin-top: -0.625em;
}



@media (max-width: 1130px) {
    .container {
        max-width: 900px;
    }
    .f5-windows-s {
        display: inline;
    }
    .f5-element-title:nth-child(2),
    .f5-element-title:nth-child(3),
    .f5-element-title:nth-child(4) {
        margin-left: 0;
    }
    .criterion {
        margin-right: 300px;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 800px;
    }
    .f5-element-img img{
       width: 70%; 
    }
    .criterion {
        margin-right: 200px;
    }
    .calculator-title {
        font-size: 25px;
        padding-bottom: 40px;
        padding-top: 60px;
    }
    .calculator-title2 {
        margin-top: 9px;
    }
    .custom-dropdown {
        width: 303px;
    }   
    .custom-dropdown select {
        width: 317px;
    }
}

@media (max-width: 840px) {
    .container {
        max-width: 600px;
    }
    #slider {
        top: 70px;
        margin: -50px;
    }
    .calculator-criterion {
        margin-left: 330px;
    }
    .criterion-title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .criterion {
        margin-right: 75px;
    }
    .custom-dropdown {
        width: 192px;
    }
    .window-argument {
        margin-bottom: -362px;
    }
    .result {
        z-index: 99;
    }
    .window-btn-phone {
       margin-right: 0;
       margin-bottom: 5px;
    }
    main img {
        width: 80%;
    }
    .window-argument {
     margin-left: 0px;
    }
    .window-option {
        font-size: 18px;
    }
    aside { 
        margin-top: 27px;
    }
    .window-math-param {
        margin-left: -345px;
    }
    .window-math-parametr {
        margin-left: -350px;
    }
    .result {
        margin-left: 55px;
    }
    .custom-dropdown select {
        width: 205px;
    }
}

@media (max-width: 600px) {
    .container {
        max-width: 500px;
    }
    .phone {
        font-size: 20px;
    }
    .logo {
        width: 50%;
        height: auto;
    }
    #slider {
        top: 70px;
        margin: -150px;
    }
    .f5-element-title {
        font-size: 12px;
    }
    .calculator-criterion {
        margin-left: 247px;
    }
    .calculator-title {
        font-size: 25px;
        padding-bottom: 27px;
        padding-top: 27px;
    }
    .criterion {
        margin-right: 67px;
    }
    .window-option {
        margin-left: 0px;
        margin-bottom: 0;
        margin-top: 14px;
    }
    aside {
        width: 71px;
        height: 48px;
    }
    .window-width {
        margin-left: 100px;
        margin-top: -428px;
    }
    .math-input {
        width: 70px;
        font-size: 20px;
    }
    .window-argument {
        margin-left: -22px;
    }
    .window-math {
        font-size: 15px;
    }
    .main img {
        width: 70%;
    } 
    .window-math-param {
        margin-left: -269px;
    }
    .window-math-parametr {
        margin-left: -265px;
    }
    .window-width {
        margin-top: -321px;
    }
    .f5-calculator {
        height: 439px;
    }
    .result {
        margin-left: -90px;
    }
    .custom-dropdown select {
        width: 183px;
        font-size: 15px;
    }
}

@media (max-width: 564px) {
    .container {
        max-width: 400px;
    }
    .logo {
        width: 50%;
        height: auto;
    }
    .f2-title {
        margin-left: 80px; 
        font-size: 20px;   
    }
    .f2-form {
        margin-left: 0px;
    }
    .f2-form-title,
    .f2-form-phone,
    .f2-form-btn {
        font-size: 17px;
    }
    #slider {
        top: 180px;
    }
    .calculator-criterion {
        margin-left: 170px;
    }
    .calculator-title {
        font-size: 20px;
        padding-bottom: 15px;
        padding-top: 27px;
    }
    .criterion {
        margin-right: 60px;
        font-size: 15px;
    }
    .custom-dropdown {
        width: 170px;
        background: url("image/drop.png") 96% / 15px no-repeat;
    }
    .window-option {
        margin-left: 0px;
        margin-bottom: 0;
    }
    aside {
        width: 71px;
        height: 48px;
    }
    .window-width {
        margin-top: -248px;
        margin-left: 70px;
    }
    main img {
        width: 50%;
    }
    .math-input {
        width: 50px;
        font-size: 25px;
    }
    .window-math {
        padding-right: 10px;
        font-size: 14px;
    }
    .math-multiply {
        padding: 0 10px;
    }
    .window-argument {
        margin-left: -22px;
    }
    .main img {
        width: 50%;
    }
    .window-view {
        margin-top: 8px;
    }
    .window-option {
        font-size: 14px;
    }
    aside {
        width: 55px;
        height: 35px;
        margin-top: 20px;
        margin-bottom: 0px;
        margin-left: -15px;
    }
    .f5-calculator {
        height: 465px;
    }
    .window-math-param {
        margin-left: -190px;
    }
    .window-math-parametr {
        margin-left: -196px;
    }
    .window-math {
        padding-right: 24px;
    }
    .calculator-title {
        margin-left: -108px;
    }
    .f5-calculator {
        height: 377px;
    }
    select > option {
        font-size: 10px;
    }
    .custom-dropdown select {
        padding-left: 0px;
    }
}

@media (max-width: 446px) {
    .container {
        max-width: 350px;
    }
    .f5-calculator {
        height: 330px;
    }
    .f5-calculator-in {
        transform: scale(0.8);
    }
    .criterion {
        margin-right: 38px;
    }
    .calculator-title {
        margin-left: -100px;
        padding-top: 0;
    }
    .calculator-criterion {
        margin-left: 150px;
    }
    .window-width {
        margin-left: 43px;
        margin-top: -233px;
    }
    main img {
        width: 40%;
        margin-left: -8px;
    }
    .window-view {
        margin-left: -7px;
        margin-top: 0px;
    }
    .window-math-param {
        margin-left: -190px;
    }
    .window-argument {
        margin-left: -65px;
    }
    .window-math-parametr {
        margin-left: -201px;
        margin-top: -46px;
    }
    .window-math {
        padding-right: 29px;
    }
    .result {
        margin-left: -76px;
    }
    .footer {
        margin-top: 30px;
        height: 99px;
        font-size: 20px;
    }
    .f4 {
        padding-top: 35px;
    }
    .f4-title {
        font-size: 18px;
        margin-bottom: 14px;
    }
    .f5 {
        padding-top: 30px;
    }
}

@media (max-width: 370px) {
    .container {
        max-width: 300px;
    }
    .logo {
        width: 50%;
        height: auto;
    }
    .phone {
        font-size: 15px;
    }
    .f2 {
        height: 362px;
    }
    .f2-title {
        margin-left: 50px;  
        padding-top: 25px; 
    }
    .f2-form-phone,
    .f2-form-btn {
        width: 250px;
    }
    #slider {
        margin-top: -73px;
        margin: -180px;
    }
    .f4 {
        padding-top: 0;
    }
    .f5 {
        padding-top: 20px;
    }
    .f5-calculator-in {
        transform: scale(0.75);
    }
    .calculator-title {
        padding-top: 0px;
        margin-left: -150px;
    }
    .criterion {
        margin-right: 78px;
    }
    .custom-dropdown {
        width: 180px;
        background: url("image/drop.png") 96% / 15px no-repeat;
        margin-left: -115px;
    }
    .custom-dropdown select {
        font-size: 15px;
        padding-left: 5px;
        width: 194px;
    }
    .window-width {
        margin-left: 43px;
        margin-top: -305px;
    }
    .criterion-title {
        margin-left: -156px;
    }
    .calculator-criterion-input {
        margin-left: -90px;
    }
    .window-view,
    .view {
       display: none;
    }
    .window-math-param {
        margin-left: -137px;
        margin-top: 23px;
    }
    .window-math-parametr {
        margin-left: -147px;
    }
    .f4-text {
        padding: 0 20px;
    }
    .f2-form-title, .f2-form-phone, .f2-form-btn {
        font-size: 18px;
    }
    .header-top {
        padding: 25px 15px;
    }
}
